<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main contenedor">
  <picture class="main__bgtop">
    <img src="../assets/images/bg-top.svg" alt="bg top pattern">
  </picture>

  <h1 class="main__h1">Our pricing</h1>

  <div class="toggle">
    <p class="toggle__p">Anually</p>
    <div class="toggle__btn" (click)="check = !check">
      <div class="toggle__circle" [ngClass]="check ? 'toggle__circle--activo' : '' "></div>
    </div>
    <p class="toggle__p">Monthly</p>
  </div>

  <div class="grid contenedor">
    <div class="card">
      <p class="card__p">Basic</p>
      <h2 *ngIf="!check" class="card__price">$199.99</h2>
      <h2 *ngIf="check" class="card__price">$19.99</h2>
      <ul class="card__ul">
        <li class="card__li">500 GB Storage</li>
        <li class="card__li">2 User Allowed</li>
        <li class="card__li">Send up to 3 GB</li>
      </ul>
      <button class="card__btn">learn more</button>
    </div>
    <div class="card card--blue">
      <p class="card__p">Profesional</p>
      <h2 *ngIf="!check" class="card__price">$249.99</h2>
      <h2 *ngIf="check" class="card__price">$24.99</h2>
      <ul class="card__ul">
        <li class="card__li">1 TB Storage</li>
        <li class="card__li">5 User Allowed</li>
        <li class="card__li">Send up to 10 GB</li>
      </ul>
      <button class="card__btn card__btn--white">learn more</button>
    </div>
    <div class="card">
      <p class="card__p">Master</p>
      <h2 *ngIf="!check" class="card__price">$399.99</h2>
      <h2 *ngIf="check" class="card__price">$39.99</h2>
      <ul class="card__ul">
        <li class="card__li">2 TB Storage</li>
        <li class="card__li">10 User Allowed</li>
        <li class="card__li">Send up to 20 GB</li>
      </ul>
      <button class="card__btn">learn more</button>
    </div>
  </div>
  

  <picture class="main__bgbottom">
    <img src="../assets/images/bg-bottom.svg" alt="bg bottom pattern">
  </picture>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
